.home-pagina{
	background-color:black;
	color:#ffffff;
	margin: 0;
}
header{
	width:100%;
	height: 380px;
	/*background-color:;*/
	/*background-image: url('');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:100%;
	color: rgb(251, 255, 0);
	text-align:center;
	}   
body{
	width:100%;
	height:400px;
	background-color: white;
	background-image: url('img/hotelcaldastop.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:100%;
	color:rgb(0, 0, 0);
	text-align:center;
	}
h1{
	margin: 0;
	padding-top:100px;
	font-family:Rock Salt,sans serif;
	font-size: 100px;
	text-shadow: 35px 12px 15px rgb(110, 51, 248);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    text-align:center;
}
h2{
	padding-top:50px;
	font-family:Rock Salt,sans serif;
	font-size: 30px;
	text-shadow: 3px 5px 7px rgb(255, 0, 0);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    text-align: center;
}
.timer-style{
	width: 12%;
	height:40%;
	
	float: right;
	background-image: url('img/img1.png');
	background-size:100%;		
}
div h4{
	position: fixed;
	top:0;
	right: 0;
}
.obejeto-style {
	border-radius: 25px;
	background: #73AD21;
	padding: 50px;
	width: 200px;
	height: 150px;
		
}
